html {
    background-color: #85c3be;
}

body {
    margin: 0%;
    padding: 0%;
}

section {
    border: solid red 1px;
    background-color: blue;
    width: 100px;
    height: 100px;
}